<app-header></app-header>
<section class="productsList">
    <nav class="options">
        <ul>
            <li>
                <img src="https://i.ibb.co/BCF1vYv/workers-list.png" class="icon" (click)="navigateWorkers()">
            </li>
            <li>
                <img src="https://i.ibb.co/G51dv53/products-list-active.png" class="icon">
            </li>
            <li>
                <img src="https://i.ibb.co/nmbvZRY/logout.png" class="icon" (click)="logOut()">
            </li>
        </ul>
    </nav>
    <article class="productsArticle">
        <h1>CATEGORY PRODUCTS</h1>
        <div class="workersRole">
            <div class="btnsTypeContainer">
                <button [class.active]="btnActive === 'breakfast'" class="btnType"
                    (click)="showSelectedProduct('breakfast')">BREAKFAST</button>
                <button [class.active]="btnActive === 'meals'" class="btnType"
                    (click)="showSelectedProduct('meals')">MEALS</button>
                <button [class.active]="btnActive === 'dessert'" class="btnType"
                    (click)="showSelectedProduct('dessert')">DESSERTS</button>
                    <button [class.active]="btnActive === 'drinks'" class="btnType"
                    (click)="showSelectedProduct('drinks')">DRINKS</button>
            </div>
            <div class="containerCards">
                <app-product-card [selectionProducts]="selectedProducts"
                (showEdit)="modalToShow($event)" (productId)="productToEdit($event)"></app-product-card>
            </div>
        </div>
    </article>
    <app-add-product-modal *ngIf="showAddProduct"></app-add-product-modal>
    <app-edit-product-modal *ngIf="showEditProduct" [productId]="productId" (hideEdit)="modalToHide($event)"></app-edit-product-modal>
</section>