<article class="editWorker">
    <form [formGroup]="workerForm" (ngSubmit)="editWorker()">
        <h6>EDIT WORKER</h6>
        <p>Email:</p>
        <input type="email" class="email" formControlName="email">
        <p>Password:</p>
        <input type="text" class="password" formControlName="password">
        <p>Role:</p>
        <select name="WorkerRole" formControlName="role">
            <option value="waiter">Waiter</option>
            <option value="chef">Chef</option>
            <option value="admin">Admin</option>
        </select>
        <div class="containerBtns">
            <button class="cancel" type="button" (click)="cancelEdit()">CANCEL</button>
            <button class="confirm">CONFIRM</button>
        </div>
    </form>
</article>