:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    
  }

.WorkerCard {
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgUser {
    margin-top: 15px;
    width: 80px;
    height: auto;
    border-radius: 100%;
}

.email {
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
}

.role {
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    margin: 5px 0;
}

.id {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    margin: 5px 0;
}

.btnsWorker{
display: flex;
justify-content: end;
width: 100%;

}
.edit{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.delete{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
