<article class="addWorker">
    <form [formGroup]="workerForm" (ngSubmit)="addWorker()">
        <h6>ADD WORKER</h6>
        <p>Email:</p>
        <input type="email" class="email" formControlName="email">
        <p>Password:</p>
        <input type="password" class="password" formControlName="password">
        <p>Role:</p>
        <select name="WorkerRole" formControlName="role">
            <option value="" selected disabled>Select role</option>
            <option value="waiter">Waiter</option>
            <option value="chef">Chef</option>
            <option value="admin">Admin</option>
        </select>
        <div class="containerBtns">
            <button class="cancel" type="reset" (click)="cancelAddWorker()">CANCEL</button>
            <button class="confirm">CONFIRM</button>
        </div>
    </form>
</article>
<!-- <h5 class="message">{{messageConfirm}}</h5> -->